#header_section {
  margin: 0 auto;
  text-align: center;
}

#game_title {
  font-size: 48px;
}

#message_section {
  border: solid 1px #aaa;
  text-align: center;
  margin: 0 auto;
  height: 100px;
}

#piece_count {
  font-size: 48px;
  vertical-align: middle;
}

#status_and_board {
  border: solid 1px #aaa;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.stats_section {
  width: 200px;
  height: 200px;

  -webkit-border-radius: 16px;
  margin: 0px 32px;

  display: inline-block;
  vertical-align: top;

  border: thick #000 solid ;
}

.stats_left {
  border-color: #A00;
  background-color: #F55;
}

.stats_right {
  border-color: blue;
  background-color: #55F;
}

.stats_active {
  border-color: yellow;
}

#board_section {
    display: inline-block;
    vertical-align: top;
}

#board {
  background-color: black;


}

#board td {
  width: 32px;
  height: 32px;
  background-color: #8DD;
  text-align: center;
}

#board .corner {
  background-color: black;
}

#board .red_piece {
  width: 75%;
  height: 75%;
  margin: auto;
  background-color: #A00;
  border: 2px solid #F55;
  -webkit-border-radius: 32px;
}

#board .blue_piece {
  width: 75%;
  height: 75%;
  margin: auto;
  background-color: blue;
  border: 2px solid #55F;
  -webkit-border-radius: 32px;
}

#board .gps_ring {

    /*border: 3px solid #999;*/
    /*-webkit-border-radius: 32px;*/
/*    height: 18px;
    width: 18px;*/
/*    position: absolute;
    left:20px;
    top:214px;
*/
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

#user_section {
  clear: both;
}

#debug_section {
  clear: both;
}

